.button { 
    height: 40px;
    border: none;
    padding: 10px 20px;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
    border-radius: 50px;
    background-color: #f3cc3d;
    span {
        font-family: 'Montserrat-Extra', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        white-space: nowrap;
        font-size: 13px;
      }
    &--black {
      background-color: #000000;
      align-self: start;
      span {
        color: #ffffff;
      }
    }
}