/*Позиционирование чердака*/ 
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 20px 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



/*Иконка навигации (Гамбургер)*/ 
.humburger {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: $maroon;
  
  /*flex*/
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__line {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
    border-radius: 2px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  */ 
  
  /*absolute*/
  position: relative;

  &__line {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transition: .5s;

    &:nth-child(1) {
      transform: translateX(-50%) translateY(calc(-50% - 5px));
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateY(calc(-50% + 8px));
    }
  } 

  /*before after
  
  position: relative;
  &__line {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before, &:after {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      border-radius: 2px;
      background-color: #ffffff;
      position: absolute;
    }

    &:before {
      top: -6px;
    }

    &:after {
      top: 6px;
    }
  }*/

  /*Клик по иконке навигации (Гамбургер)*/
  &.active {
    .humburger__line {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: translateX(-50%) translateY(calc(-50%)) rotate(-45deg);
      }
      &:nth-child(3) {
        transform: translateX(-50%) translateY(calc(-50%)) rotate(45deg);
      }
    }
  }

  &-wrapper {
    position: relative;
  }
}

.menu {
  display: none;
  &__item {
    font-size: 18px;
    padding: 10px 20px;
    color: $white;
    cursor: pointer;
  }

  &.active {
    display: block;
  }
}

.menu-wrapper {
  &--desktop {
    position: absolute;
    right: 100%; //ПОЧЕМУ ТАК
    top: 50%; //ПОЧЕМУ ТАК (ПОЗИЦИОНИРОВАНИЕ)
    transform: translateY(-50%);
    @media screen and (max-width: $sw-m){
      display: none;
    }
    .menu {
      display: none;
      align-items: stretch;
      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
      }
      &.active {
        display: flex;
      }
    }
  }

  &--mobile {
    background-color: $maroon;
    margin-top: 30px;
   .menu {
      &__item {
        display: flex;
        justify-content: center;
        &:first-child {
          padding-top: 30px;
        }
        &:last-child {
          padding-bottom: 30px;
        }        
      }
    }
    @media screen and (min-width: $sw-m){
      display: none;
    }
  }
}