.header {

  &_wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
  }

  &_logo {
    img {
      width: 60px;
      height: 60px;
    }
  }
  
  &_button {
    margin-left: 5px;
    margin-bottom: 10px;
    justify-self: right;
  }
  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    &_element {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 15px;
    }
    &_big-text {
      text-transform: uppercase;
    }
  }

  .element {
      &_pic {
        height: 25px;
        width: 25px;
        background-color: $yellow;
        border-radius: 15px;
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      &_text {
        padding-left: 10px;
      }    
      
  }
}