.header {

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
  }

  &__logo {
    img {
      width: 60px;
      height: 60px;
    }
  }
  
  &__button {
    justify-self: right;
        
    a {
      text-transform: uppercase;
      font-weight: 800;
      white-space: nowrap;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    &__element {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 15px;
    }
    &__big-text {
      text-transform: uppercase;
    }

    .element {
      &__pic {
        height: 25px;
        width: 25px;
        background-color: $yellow;
        border-radius: 15px;
        position: relative;
        svg {
          position: absolute;
          left: 50%;
          top: 25%;
          transform: translateX(-50%);
        }
      }
      &__text {
        padding-left: 10px;
      }    
    }
  }
}