.training {
    font-family: 'Oswald', sans-serif;

    h1 {
        text-transform: uppercase;
        text-align: center;
    }

    .section {
        padding: 50px 0;
        background: #f9f9f9;
    }

    .blocks {
        .block {
            padding: 20px;
            border-radius: 5px;
            background: $grey;
            display: block;
            font-size: 30px;
            text-align: center;
            color: $white;
            margin: 10px 0;

            &-inline {
                display: inline-block;
                padding: 20px;
                border-radius: 5px;
                background: $grey;
                font-size: 30px;
                width: 50%;
                text-align: center;
                color: $white;
                margin: 10px 0;
            }
        }
    }

    .blocks-inline {
        .block {
            padding: 10px;
            border-radius: 5px;
            background: $grey;
            display: inline-block;
            width: 100px;
            font-size: 30px;
            color: $white;
            margin: 10px 20px 10px 0;
        }
    }

    .inline-text {
        display: inline-block;
        width: 200px;
        text-align: center;
        color: red;
        font-size: 30px;
    }

    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);

        .block {
            padding: 10px;
            border-radius: 5px;
            background: $grey;
            font-size: 30px;
            color: $white;
            text-align: center;
        }
    }

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        border: none;
        background: $maroon;
        color: $white;
        padding: 10px 20px;
        border-radius: 4px;

        img {
            width: 20px;
            height: 20px;
        }

        
    }
}