.content {

    &-first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 60px 0;
        column-gap: 25px;
        &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-weight: 900;
                line-height: 38px;
            }
            p {
                padding: 27px 0;
            }
        }
        &_pic img {
            width: 120%;
        }
    }

    &-second {
        padding: 50px 0 70px;
        h1 {
            color:#ffffff;
            font-size: 28px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 38px;  
        }
        .padding-top {
            padding-top: 50px;
        }
        p {
            color: #ffffff;
            padding-top: 10px;
            font-size: 13px;
        }
        
    }


    &-third {
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 60px 0;
        column-gap: 25px;
        &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-weight: 300;
                text-transform: uppercase;
            }
            p {
                font-size: 13px;
                padding: 20px 0 0 0;
            }
        }
        &_pic img {
            width: 100%;
        }        
    }

    &-fourth {
        padding: 70px 0;
        h1 {
            font-weight: 300;
            color: #ffffff;
        }
        .bar_foto {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &-fifth {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 25px;
        padding-top: 70px;
        h1 {
            font-weight: 900;
            line-height: 38px;
        }

        &_contacts {
            p {
                font-size: 13px;
                padding-top: 20px;
            }
            img {
                width: 100%;
                padding-top: 20px;
            }
        }
    }
}

.bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
    padding-top: 25px; 
    &_element{
        background-color: #ffffff;
        border-radius: 0 0 5px 5px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
        img {
            width:100%;
        }
        p {
            color: #000000;
            font-size: 15px;
            padding: 15px 0 15px 15px;
            span { font-weight: 900;}
        }
    }
  }