.section {
    &-yellow {background-color: #f3cc3d;}
    &-grey {background-color: $grey;}
}

.content {

    &-first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 60px 0;
        column-gap: 25px;
        &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-weight: 900;
                line-height: 38px;
            }
            p {
                padding: 27px 0;
            }
        }
        &_pic img {
            width: 120%;
        }
    }

    &-second {

        h1 {
            color:#ffffff;
            font-size: 28px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 38px;  
            padding-top: 50px;
        }
        p {
            color: #ffffff;
            padding-top: 10px;
            font-size: 13px;
        }
        .bar {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 25px;
            padding-top: 20px; 
            &_element{
                background-color: #ffffff;
                border-radius: 0 0 5px 5px;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05);
                }
                img {
                    width:100%;
                }
                p {
                    color: #000000;
                    padding: 15px 0 15px 15px;
                    span { font-weight: 900;}
                }
            }
            &__bottom {
                padding-bottom: 50px;
            }
        }
    }

    &-third {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 60px 0;
        column-gap: 25px;
        &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-weight: 300;
                text-transform: uppercase;
            }
            p {
                font-size: 13px;
                padding: 20px 0 0 0;
            }
        }
        &_pic img {
            width: 100%;
        }        
    }
}

